.recommendations-title {
  margin-bottom: 15px;
}

.recommendations-container {
  .product-card {
    padding: 15px;

    .image-container {
      height: 290px;
    }
  }

  .product-description {
    width: 100%;
  }
}
